<p id="notice"><%= notice %></p>

<h1>Users of Zlatos :)</h1>
<br>
<body> 

<br>
<br>
</body>
<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Username</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Posts', user_posts_path(user.id) %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>
<% if @current_user.nil? %>
  <%= link_to 'Sign up', new_user_path %>
  <%= link_to 'Log In',  login_path %>
<% else %>
  <h2>You are logged in as 
    <%= session[:user]['username'] %>
  </h2>
  <%= link_to 'Log out?', logout_path %>

<% end %>

<%= link_to 'Home', root_path %>