<h1>Dashboard</h1>
<%= image_tag @user.avatar.url(:medium), class: 'img-circle', size: '300x300' %>
<br>
<br>
<p>
  <% if @user == @current_user %>
  <%= button_to('Create New Collection', newcollection_path, :class => 'btn btn-large btn-primary')%>
  <br><br>
  <%= button_to('Add New Movie?', newmovie_path, :class => 'btn btn-large btn-primary')%> 
  <strong>Your Favorite Movies:</strong>
  <% else %>
  <strong><%=@user.username%>'s Favorite Movies:</strong>
  <% end %>
</p>
<table class='table'>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @user.movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= button_to('Destroy?', movie, method: :delete, :class => 'btn btn-large btn-primary') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
